.table th:nth-child(2), .table th:nth-child(3),
.table td:nth-child(2), .table td:nth-child(3) {
	text-align: center;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
}
.stat_container {
	margin: 20px auto;
	width:70%;
}
@media only screen and (max-width: 600px) {
	.stat_container {
		margin: 0 !important;
		width:100% !important;
	}
}